body {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #000;
  color: #fff;
}

ul, li {
  list-style: none;
  padding: 0;
}

input, textarea {
  outline: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.itemImage {
  object-fit: cover;
}

.logoImg {
  border-radius: 50%;
  object-fit: cover;
}

.defaultButton {
  background-color: #1b6ca2;
  color: #fff;
  transform: translateY(30px);
  border-radius: 10px;
  border: 2px solid #1b6ca2;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: .3s;
  &:hover {
    background-color: transparent;
    color: #1b6ca2;
    font-size: 17px;
  }
}

button {
  cursor: pointer;
}

table {
  border: 1px solid #fff;
}

th, td {
  padding: 15px 10px;
}