body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 80px);
  background: #000;
  color: #fff;
}

ul, li {
  list-style: none;
  padding: 0;
}

input, textarea {
  outline: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.itemImage {
  object-fit: cover;
}

.logoImg {
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.defaultButton {
  background-color: #1b6ca2;
  color: #fff;
  transform: translateY(30px);
  border-radius: 10px;
  border: 2px solid #1b6ca2;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition: .3s;
  padding: 8px 20px;
}

.defaultButton:hover {
  background-color: transparent;
  color: #1b6ca2;
  border: 2px solid #1b6ca2;
}

button {
  cursor: pointer;
}

table {
  border: 1px solid #fff;
}

th, td {
  padding: 15px 10px;
}

.loadingContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}